/* Gotham City Dark Theme for Waybar */

/* Color definitions */
@define-color foreground #d4d4d4;
@define-color background rgba(10,14,18,0.0);
@define-color bg-2 rgba(26,31,41,0.0);
@define-color accent #f0d090;
@define-color blue #7aa8b4;
@define-color red #e67a6a;
@define-color green #7a9b82;

/*********** Custom Styling ****************/
* {
  color: @foreground;
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 12px;
  font-weight: bold;
}

#waybar {
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: inset 0px 20px 5px 1px rgba(26,31,41, 0.25);
}

#workspaces button.active {
    color: @accent;
    background-color: rgba(-1,0,0,0.0);
}

#workspaces button.active label {
    color: @blue; /* More specific selector for text */
    font-weight: bold;
}

#workspaces button.urgent {
    color: @red;
    background-color: rgba(-1,0,0,0.0);
}

/*********** Omarchy Styles (overrides) ****************/
* {
  /* background-color: @background; */
  /* color: @foreground; */
  /* border: none; */
  /* border-radius: 10; */
  /* min-height: 0; */
  /* font-family: CaskaydiaMono Nerd Font Propo; */
  /* font-family: JetBrains Nerd Font Propo; */
  /* font-size: 12px; */
}

.modules-left {
  /* margin-left: 8px; */
}

.modules-right {
  /* margin-right: 8px; */
}

#workspaces button {
  /* all: initial; */
  /* padding: 0 6px; */
  /* margin: 0 1.5px; */
  /* min-width: 9px; */
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-power-menu {
 /* min-width: 12px; */
 /* margin: 0 7.5px; */
}

#custom-expand-icon {
  /* margin-right: 12px; */
}

tooltip {
  /* padding: 2px; */
}
